/* Geral */
* {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: #21243D;
}
/* ||||| Navecação |||||| */
nav {
  display: flex;
  justify-content: center;
  background: white;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #fbfbfb;
}
nav div {
  display: flex;
  justify-content: space-between;
  width: 82%;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  align-items: center;
}

nav ul li { padding: 15px; }

nav ul li:last-of-type { padding-right: 0px;}

nav h1 { font-size: 30px; }

ul#links a {
  font-size: 18px;
  color: #21243D;
  text-decoration: none;
}

#links a:hover {
  color: #FF6464;
  transition: 100ms;
  border-bottom: 1.5px solid #FF6464;
}
/* |||||||||| SESSAO 1 |||||||||||||*/
#session-1 {
  display: flex;
  justify-content: space-between;
  width: 82%;
  margin: 0 auto;
  align-items: center;
  height: 500px;
  padding-top: 100px;
}

#session-1 #resume {
  display: flex;
  flex-direction: column;
}

#resume h1 {
  font-size: 44px;
  margin-bottom: 15px;
  color: #21243D;
}
/* Botao de download */
#resume button {
  width: 208px;
  height: 47px;
  border-radius: 2px;
  background: #FF6464;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px #b4b4b4;
}
#resume button:hover { cursor: pointer; }
#foto {
  width: 243px;
  height: 243px;
  overflow: hidden;
}

#foto img {
  border-radius: 150px;
  width: 243px;
  height: 243px;
}
/* |||||| Pecent Posts ||||||| */
#recent-posts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 200px;
  width: 100%;
  height: 380px;
  background-color: #EDF7FA;
}
#titles {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 82%;
  font-size: 20px;
}

#posts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 82%;
}

.postagens { 
  width: 418px; 
  height: 295px;
  padding: 23px;
  margin: 10px 0px 30px 0px;
  background: #FFFFFF;
  border-radius: 4px;
}

.postagens h3 { font-size: 26px; }

.postagens p:first-of-type {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 300;
}

.postagens p:last-of-type {
  font-weight: 300;
}
/* |||||| Trabalhos Feitos ||||||| */
#featured-works {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 800px;
  width: 82%;
  margin: 0 auto;
}

#featured-works h2 { font-weight: 400;}

.align-works {
  display: flex;
  column-gap: 20px;
}

.align-works h3 { font-size: 30px; }

.align-works div span:first-child {
  background: #142850;
  color: white;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
}

.align-works div span:last-child {
  color: #8695A4;
  margin-left: 20px;
  font-size: 20px;
}

.align-works div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* .align-works div h3 { } */
.align-works img { border-radius: 4px; }

/* |||||| FOOTER |||||| */
footer {
  display: flex;
  flex-direction: column;
  width: 82%;
  height: 300px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  border-top: 2px solid #E0E0E0;
}
footer div {
  display: flex;
  width: 260px;
  margin: 20px;
  justify-content: space-between;
}
footer div img {
  border-radius: 5px;
  width: 30px;
  overflow: hidden;
}