* {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: #21243D; }

/* ||||||    Conteudo Principal  ||||||||| */

section {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90%;
  margin: 0 auto;

}

section h1 {
  font-size: 44px;
  margin-top: 15%;
  margin-bottom: 5%;
}

.container h2 {
  font-size: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e0e0e0;
  margin-top: 10px; 
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.container div {
  margin-top: 8px;
  margin-bottom: 8px;
}

.container div span {
  color: #8695A4;
  margin-left: 10px;
}

/* |||||| FOOTER |||||| */
footer {
  display: flex;
  flex-direction: column;
  width: 82%;
  height: 300px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

footer div {
  display: flex;
  width: 260px;
  margin: 20px;
  justify-content: space-between;
}

footer div img {
  border-radius: 5px;
  width: 30px;
  overflow: hidden; 
}

/* |||||| RESPONSIVIDADE |||||| */

@media screen and (max-width: 800px) {
  section {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {

  section { width: 90%; margin-top: 70px; }

  section h1 { font-size: 30px; }

  .container h2 { font-size: 26px;}

  .container {  text-align: justify;  }

  .container div {
    margin-bottom: 20px;
  }  
}